* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

#body {
  background-color: #600;
}

#age {
  color: #600;
}

#weekday {
  color: #600;
}

#check {
  color: #600;
}
